body{
    background-color: rgb(231, 222, 222);
}

#board {
  margin: 30px auto;
  width: 320px;
  height: 320px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 3px solid #333;
}

#board div {
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.token {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: inline-block;
}

.token.red { background-color: red; }
.token.green { background-color: green; }
.token.blue { background-color: blue; }
.token.yellow { background-color: yellow; }

