/* //left dev Product */
      ._0J1TKd{
         background-color: rgb(75, 50, 145);
          
        
      }
   ._8id3KM{
      /* margin-top: -360px; */
      background-color: aqua;
      /* margin-left: 110px; */
   }





/* //Right div Product */
#mainProductDiv{
    display: block;
    /* background-color: rgb(231, 212, 187); */
 }
 #sample12{
    /* background-color: antiquewhite; */
 }

 .r2CdBx{
    /* flex-grow: 1; 
    overflow: auto; */

    float: left;
    margin-right: 10px;
 }
 .DOjaWF::after{
    /* flex-grow: 1; 
    overflow: auto; */
    content: "";
    clear: both;
    display: table;
 }
 .EjOX7q::after{
   right: 30px;
   width: 150px;
    /* background-color: aqua; */
 }

 .C7fEHH{
    /* background: #a7f8dd; */
 }
 ._6EBuvT{
  font-size: 20px;
 }
 .XQDdHH{
    background-color: rgb(95, 151, 95);
    width: 47px;
    float: left;
    margin-right: 20px;
 }

 .LctmNn{
    float: left;
    margin-right: 20px;
 }
 .hxqV2A{
    float: left;
    margin-right: 20px;
 }
 .ISksQ1{
    /* flex-grow: 1; 
    overflow: auto; */
    background-color: rgb(130, 122, 179);
    content: "";
    clear: both;
    display: table;
 }
 .x7QT1{
    float: left;
    margin-right: 50px;
 }
 .Nx9bqj{
   float: left;
   margin-right: 10px;
   font-size: large;
 }
 .yRaY8j{
   float: left;
   margin-right: 20px;
 }
 .WW8yVX{
   float: left;
   margin-right: 20px;
 }
 .m_2fBmCM{
    float: left;
    margin-right: 20px;
    /* background-color: rgb(139, 212, 255); */
 }
 .jfdj1k{
   float: left;
   margin-right: 20px;
 }
 ._0gKdrZ{
   margin-top: 50px;
   margin-left: 4px;
   font-size: 40px;
 }

 /* --------------- */
 .BvstzA{
     /* background-color: rgb(15, 248, 151); */
     text-align: left;
 }
 .H1broz{
   float: left;
   margin-right: 20px;
 }
 ._98QWWQ{
  margin-left: -20px;
 }
 .uGNjfd{
   width: 14px;
 }
 .lt4VIO{
   float: left;
   margin-right: 20px;
 }
 .i40dM4{
   float: left;
   margin-right: 20px;
   /* background-color: rgb(15, 248, 151); */
   margin-left: 230px;
   margin-top: -50px;
 }

 /* ------- */
 .hSEbzK1{
   /* background-color: rgb(44, 233, 107); */
 }

 .DOjaWF{
   margin-top: 20px;
 }

 .GNDEQ-{
   margin-top: 25px;
   margin-bottom: 10px;
   /* background-color: rgb(238, 238, 238); */
 }


 /* ----------------------------- */
 .N5mKWF{
   margin-bottom: 30px;
   /* background-color: rgb(223, 181, 181); */
 }
 .vvkYxW{
   /* background-color: rgb(180, 152, 152); */
   margin-bottom: 40px;
 }
 .BF0sXF{
   /* background-color: rgb(255, 255, 255); */
   width: 261px;
   height: 407px;
   margin-top: 10px;
   margin-left: -25px; 
 }
 .SMaeep{
   width: 195px;
   height: 250px;
   
 }
 ._4WELSP{
   border-radius:10px;
  
   /* top: 40px; */
   margin-top: 25px;
   margin-left: 55px;

 }
 
 .DByuf4{
    height: 212px;
    width: 112px;
   }
   .wjcEIp1{
     margin-top: 15px;
     font-size: medium;
     margin-left: 25px;
   }
   .afFzxY{
      margin-left: 25px;
   }
   .DMMoT0{
      margin-left: 25px;
   }

   /* ------------------------------- */
.GYWO-4{
   /* background-color: rgb(0, 255, 106); */
   /* color: white; */
}
.XQDdHH{
   background-color: rgb(33, 148, 33);
   text-align: center;
   color: white;
}
.U6BdNn{
   margin-left: 30px;
   float: left;
   margin-right: 40px;
}
.U6BdNn.d0MOdi{
   margin-left: 35px;
}
.JC80cU{
   font-size: x-large;
}
.aRL84z{
   margin-left: 500px;
   /* color: rgb(255, 255, 255); */
   font-size: medium;
}
.cNEU5Q{
   background-color: rgb(206, 136, 7);
   height: 50px;
   width: 200px;
}
/* ----------------------------------- */
/* rating and Revieve */

.pPAw9M{
   /* background-color: rgb(253, 255, 255); */
   margin-top: 150px;
}
.K5lpE5{
   float: left;
   margin-right: 40px;
   font-size: 25px;
   margin-top: 15px;
 
}
.jvKz74{
   margin-left: 600px;
   margin-top: 15px;
   font-size: medium;
   margin-bottom: 50px;
  
}
.YEbu1k{
   height: 50px;
   width: 120px;
}
.ipqd2A{
   margin-top: 1px;
   float: left;
   margin-right: 20px;
   margin-left: 90px;
   font-size: 30px;
}
.u12NqW{
   font-size: 30px;
}
.j-aW8Z{
   margin-left: 70px;
   width: 160px;
   float: none;
   margin-right: 20px;
}
.umNoyb{
   margin-left: 260px;
   margin-top: -80px;
  float: left;
   margin-right: 20px; 
}
.cqqn4R{
   margin-top: -110px;
   margin-left: 120px;
   float: left;
   margin-right: 20px; 
}
.lpANVI{
   margin-top: -110px;
   margin-left: 120px;
}
/* -------------------------------------------- */
/* products */
.Be4x5X{
   float: left;
   margin-right: 30px;
   margin-top: 10px;
   margin-left: 15px;
   margin-bottom: 10px;
   cursor: pointer;
}

/* ----------------------------------------------- */
/* Comment or reviews */

.RcXBOT{
   /* background-color: rgb(216, 203, 203); */
   margin-top: 20px;
}
.EPCmJX{
   margin-left: 30px;
}
.gHqwa8{
   margin-left: 10px;
   margin-top: 120px;
  
}
.MztJPv{
   float: left;
   margin-right: 15px;
   font-size: smaller;
}

._2NsDsF{
   float: left;
   margin-right: 15px;
   font-size: smaller;
}

.vMTK1V{
   float: left; 
   margin-right: 20px;
}
._6kK6mk{
   float: left; 
   margin-right: 15px;
   font-size: smaller;
}
.qhmk-f{
   float: left; 
   margin-right: 15px;
   margin-left: 190px;
   margin-top: -5px;
   
}
.kX6HBt{
  fill: rgb(83, 78, 78);
  cursor: pointer;
}
.qouvgH{
   background-color: rgb(8, 8, 8);
   margin-left: 60px;
   cursor:pointer;
}

._23BI2I{
   margin-left: 300px;
   font-size: smaller;  
}
._0sje3Z{
   margin-top: 7px;
   /* display: none; */
 
}
.NsXBt8{
   font-size: 15px;
   margin-top: 7px;
   cursor:pointer;
}
/* .NsXBt8:hover {
   background-color: rgb(177, 177, 102);
   font-size: 15px;
 } */
