/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup form - hidden by default */
  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    left: 400px;
    bottom: 90px;

    /* display: none;
    position: fixed;
    left: 400px;
    bottom: 90px;
   
    /* margin-top: 100px;
    margin-left: 250px; 
    border: 3px solid #f1f1f1;
    z-index: 9; */

  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 600px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width input fields */
  .form-container input[type=text], .form-container input[type=password] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
  }
  
  /* When the inputs get focus, do something */
  .form-container input[type=text]:focus, .form-container input[type=password]:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/login button */
  .form-container .btn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: red;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }




  /* -------------------------------------- */
  #adNmField{
    height: 5px;
  }
  #realForm{
    background-color: aquamarine;
    height: 150px;
    display: none;
  }
  .inpt1{
    padding: -15px;
    margin: -10px;
    height: 5px;
  }
  #streetI{
      margin-top: 5px;
  }
  #stateI{
    margin-top: 30px;
  }
  #conntryI{
    margin-top: 30px;
  }

  #realForm1{
    background-color: aquamarine;
    height: 220px;
    display: none;
  }



  /* ----------------------------------------------------------------------------------------------------------------------------- */

/* another popup funtion */

#text1234{
  margin-top: 29px;
  
}
#text12{
  margin-top: 20px;
  
}


.form-popup1 {
  display: none;
  position: fixed ;
  top: 5px;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  left: 400px;
  bottom: 50px;

  /* display: none;
  position: fixed;
  left: 400px;
  bottom: 90px;
 
  /* margin-top: 100px;
  margin-left: 250px; 
  border: 3px solid #f1f1f1;
  z-index: 9; */

}



 /* Add styles to the form container */
 .form-container1 {
  max-width: 600px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container1 input[type=text], .form-container1 input[type=password] {
  width: 100%;
  padding: 3px;
  margin: 3px 0 7px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container1 input[type=text]:focus, .form-container1 input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container1 .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container1 .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container1 .btn:hover, .open-button:hover {
  opacity: 1;
}


/* ----------------------- */

#myForm1{
 text-align: center;

}
#imgSection{
  background-color: aqua;
  max-width: 600px;
  display: none;
}

#imgSec{
  height: 150px;

}

#inpFild{
  /* background-color: aquamarine; */
  margin-top: -70px;
 text-align:left;

}
#nameFil{
  margin-top: -70px;
  text-align: left;
}

#cat_Select{
    background-color: rgb(178, 197, 214);
    width: 400px;
    height: 150px;
   margin-left: 80px;
  
}
.cat_SelectClass{
   font-size: 20px;
   width: 250px;
   margin-left: -120px;
}
#cat_SelectBtn{
  margin-left: 220px;
  margin-top: 40px;
  
}
#cat_SelectBtn_1{
  width: 150px;
  height: 30px;
 font-size: 20px;
 margin-top: -30px;
}
/* -------------------------------------------------------------------------------------------------- */


