

#id10{
    background-color: rgb(28, 29, 29);
    color: white;
}
#scrButton{
    background-color: #63fc7d;
    color: rgb(0, 0, 0);
}
#srcField{
    size: 80px;
    /* margin-top: 70px;
    margin-left: 410px; */
    /* background-color: aqua; */
}
#id11{
    margin-top: 10px;
    background-color: rgb(212, 205, 205);
    height: 80px;
    color: rgb(2, 2, 2);
}
#id12{
    margin-top: 5px;
}
#id13{
  margin-top: 5px;
  margin-bottom: 10px;
}

#titleShop{
    size: 20px;
}